/* SASS Variables: Start */
/* Putting SASS Variables up top for easier configurability */
$mainColor: #292961;
$navBG: #000;
$navColor: #fff;
$mapCompBG: #071117;
$mapCompHead: #fff;
$mapCompText: #b7b7b7;
$dashCompBG: #071117;
$dashCompLinks: #109cf1;
$dashCompHeadTitle: #334d6e;
$dashCompHeadFilter: #6a707e;
$dashCompBodyHeader: #192a3e;
$dashCompBodyTextFade: #334d6e80;
$dashCompBodyTextNormal: #4c5862;
/* SASS Variables: End */

a,
a:visited,
a:hover, 
a:active {
  text-decoration: none;
  color: $dashCompLinks;
}

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.App-header {
  background-color: $mainColor;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container-map {
  color: $mapCompText;
  background-color: $mapCompBG;
  justify-content: center;
  flex-direction: row;
  white-space: nowrap;
  height: 98%;
  .info, .map {
    display: inline-block;
    white-space: normal;
    height: 100%;
    vertical-align: top;
  }
  .map {
    width: 40%;
    .leaflet-container {
      width: 100%;
      height: 100%;
    }
  }
}

.info {
  width: 60%;
}

.navbar {
  background-color: $navBG;
  color: $navColor;
  max-height: 2%;
  padding: 1em 2em;
  line-height: 1;
  font-weight: 900;
  text-align: left;
}

.dashcomp-container {
  background-color: $dashCompBG;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  margin: 1rem;
  padding: 1rem 1.5rem;
  .dashcomp-head {
    padding-bottom: 1rem;
    position: relative;
    div {
      display: inline-block;
      position: absolute;
      line-height: 1.5;
      letter-spacing: 0.01em;
    }
    .dashcomp-head-title {
      font-size: .8rem;
      color: $dashCompHeadTitle;
      left: 0;
      font-weight: 500;
    }
    .dashcomp-head-filter {
      font-size: .75rem;
      color: $dashCompHeadFilter;
      right: 0;
    }
  }
}

.dashcomp-calendar {
  .dashcomp-calendar-header {
    color: $dashCompBodyHeader;
    font-size: .9rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    padding-bottom: 3em;
  }
  .dashcomp-calendar-week {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    li {
      flex-grow: 1;
      list-style-type: none;
      line-height: 1.5;
      text-align: center;
      .dashcomp-calendar-weekday {
        color: $dashCompBodyTextFade;
        font-size: .8rem;
        font-weight: 500;
        padding-bottom: .67em;
      }
      .dashcomp-calendar-datenum {
        color: $dashCompBodyTextNormal;
        font-size: .75rem;
      }
    }
  }
}